/* --------- General ----------*/
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.header h1 {
  color: #FFA900;
  margin: 0 0 60px 0;
}

h2 {  
  font-size: 1.7em;
}

.page-button {
  max-width: 120px;
  height: 35px;
  background-color: #FFA900;
  border-radius: 5px;
  border: 1px solid grey;
}

.danger {
  background-color: #E8968E;
}

/* -------- Header & Navbar -----------*/
#nav-container {
  background-color: #FFA900;
  border-color: #FFA900;
}

#nav-container a {
  color: white;
}

#nav-container a:hover {
  color: black;
}

#nav-container .icon {
  margin: -5px;
}

#nav-container .icon img {
  width: 30px;
  height: 30px;
}

/* ----------- Content ----------- */
/* Homepage */
.phrase-wrapper {
  display: flex;
  justify-content: space-between;
}

.phrases h1 {
  font-size: 3em;
  margin-bottom: 35px;
  color: #FFA900;
  font-family: "Roboto", sans-serif;
}

.phrase {
  margin-bottom: 35px;
}

.description {
  margin-bottom: 5px;
  font-size: 1.3em;
  font-family: "Lora", sans-serif;
}

#phrase-form {
  display: flex;
  flex-direction: column;
}

#phrase-form .content-input {
  height: 100px;
  max-width: 600px;
  margin-bottom: 15px;
}

#phrase-form .content-input:focus {
  outline: none;
}

.scroll-arrow {
  width: 50px;
  height: 50px;
}

.add-anchor-container > a{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-anchor-container > a > img {
  margin: 0 auto;
}

.add-anchor-container > a > p {
  color: #FFA900;
}

.add-anchor-container > a:hover {
  text-decoration: none;
  color: #FFA900;
}

.arrow-up {
  float: right;
}

.upside-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Login & User Create */
.login-container {
  background-color: #FFE0A1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  min-height: 600px;
  margin: 0 auto;
  padding: 50px 0;
}

.login-brand {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto 50px auto;
}

.login-brand > div {
  display: flex;
  justify-content: center;
}

.login-brand .logo {
  height: 100px;
  margin: 0 auto;
}

.login-brand h2 {
  margin: 5px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
}

.error-message-container {
  max-width: 600px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.error-message-text {
  margin: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 75px;
}

.input-field input {
  height: 30px;
}

.login-button {
  max-width: 90px;
  margin: 0 auto 50px auto;
  height: 35px;
}

.login-container a {
  max-width: 550px;
  margin: 0 auto 50px auto;
  color: black;
  text-decoration: underline;
}

.login-container a:visited {
  color: grey;
}

/* User Info */
.info-container {
  width: 100%;
}

.update-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 700px;
  margin: 0 auto 20px auto;
}

.update-form .input-field {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.update-form .input-field label {
  width: 200px;
}

.update-form .input-field input {
  width: 100%;
}

.crud-buttons {
  display: flex;
  justify-content: flex-end;
  max-width: 700px;
}

.delete {
  margin: 0 auto;
}

.delete a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.delete a:hover {
  text-decoration: none;
  cursor: pointer;
}

.action-buttons > div:first-child {
  margin-bottom: 50px;
}

/* Legal */
.source-category {
  display: flex;
  margin-bottom: 50px;
}

.source-category > h2 {
  width: 75px;
  margin: 0 50px 0 0;
}

/* ------------ Footer ----------- */
footer {
  display: flex;
  justify-content: space-between;
  font-family: "Lora", sans-serif;
}

footer a {
  text-decoration: underline;
  color: black;
}

footer a:visited {
  color: grey;
}

#yellow-line {
  border-top: 1px solid #FFA900;
  margin-top: 150px;
}